[Unit]
Description=%DESCRIPTION%

[Service]
ExecStart=/usr/bin/node %APP_PATH%/server.js
Restart=always
User=%APP_NAME%
Group=%APP_NAME%
Environment=PATH=%PATH%
Environment=NODE_ENV=production
WorkingDirectory=%APP_PATH%

[Install]
WantedBy=multi-user.target
